PORT=4000
ADMIN_CODE_HASH=e99276fa7eadc563f0dff9eb3d8c8c599553bd6f742245a1a076111122bf39f7
CORS_ORIGIN=http://localhost:5173
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cvbuilder
DATABASE_SSL=false
RESEND_API_KEY=VOTRE_CLE_RESEND_ICI
EMAIL_FROM=CVYam <onboarding@resend.dev>
