PORT=4000
ADMIN_CODE_HASH=3ed963a588c80c95e1570836025255adb3601ffaea34c16e21b8217e3889bf91
CORS_ORIGIN=http://localhost:5173,https://cv-1iof.onrender.com
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cvbuilder
DATABASE_SSL=false
RESEND_API_KEY=VOTRE_CLE_RESEND_ICI
EMAIL_FROM=CVYam <onboarding@resend.dev>
